# Node modules
node_modules/
.next/
.cache/
.secrets
.env
.env.local
dist/
artifacts/
cache/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnp/
.pnp.js
# Yarn
.yarn/releases/
.yarn/install-state.gz
__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Hardhat & Foundry
artifacts/
cache/
coverage/
typechain/
broadcast/
deployments/

# Compiled contracts
*.tsbuildinfo

# Misc
*.log
*.sqlite
*.pid
*.seed

# Ignore manually cloned AA lib and symlinks
aa-lib/
packages/aa-lib/
packages/hardhat/contracts/@account-abstraction/

# OpenZeppelin state files
packages/hardhat/.openzeppelin/
