# Node modules
node_modules/
.next/
.cache/
.env
.env.local
dist/
artifacts/
cache/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnp/
.pnp.js
__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Hardhat & Foundry
artifacts/
cache/
coverage/
typechain/
broadcast/
deployments/

# Compiled contracts
*.tsbuildinfo

# Misc
*.log
*.sqlite
*.pid
*.seed